html {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Libre Franklin";
}


header {
    margin-bottom:0;
}

header>.heading {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
    font-style: italic;
}

header>.menu {
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2rem;
}

header>.menu>a {
    text-decoration: none;
    color: black;
}

header>.menu>a:hover {
    color: darkgray;
}

.greetings {
    margin-top: 15rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

body>.greetings>hr {
    width: 50%;
    color: gainsboro;
}

.icons{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 2rem;
}

.about {
    margin-top: 7rem;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

.tech>h2 {
    text-align: center;
    font-size: 2rem;
}

.stacks{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 3rem;
    margin-top: 3rem;
}

.project-content {
    margin-top: 7rem;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
}